<div class="pimg4">
  <div class="ptext">
    <h2 class="heading">
      Leisure Time
    </h2>
  </div>
</div>
<section class="section section-leisure">
  <div>When i am not working, I am travelling / cleaning home / watching classic comedy shows like F.R.I.E.N.D.S.</div>
  <div>I also like meeting and knowing new people</div>
  <br/>
  <img src="../assets/logging-off.jpeg" width=200 height=200/>
  <img src="../assets/travel.jpeg" width=200 height=200/>
  <img src="../assets/weekend.jpeg" width=200 height=200/>
  <img src="../assets/party.jpeg" width=200 height=200/>
  <img src="../assets/dream.jpeg" width=200 height=200/>

</section>