.section-leisure {
    background: black;
    color:white;
}

.pimg4 {
    background-image: url("../../assets/leisure.jpeg");
    background-repeat: no-repeat;
    min-height: 400px;
    .heading {
        color: white;
    }
}