<section class="section section-summary" id="summary">
  <h2 class="heading">Professional Summary</h2>
  <div>
    <strong>
      I am a Front-End Web developer with over 8 years of experience, currently working as Senior Consultant at Deloitte Consulting
      U.S. India.
      <br/> Strong leadership capabilities, passion for web designing and good understanding of user experience makes me standout
      as a developer.
      <br/> I am motivated, self-organised and carry a passion for creating perfect looking web pages.
    </strong>
    <br/>
    <br/> Here is the summary of my experience:
    <ul>
      <li>Web development using latest web technologies like React, Angular, handerbars JS, etc.</li>
      <li>An expert in web accessibility and SEO techniques</li>
      <li>Providing
        <strong>technical guidance and training</strong> to other developers</li>
      <li>
        <strong>Working with clients </strong>to bring out the
        <strong>best web design and UX</strong>
      </li>
      <li>Tracking progress of team deliverables as
        <strong>Scrum Master</strong>
      </li>
      <li>Highlighting risk areas and providing solutions</li>
      <li>Identifying and
        <strong>resolving gaps</strong> between Visual Design, front end development, and Quality Assurance team regarding
        <strong>requirements, tools, best practices,</strong> etc.</li>
      <li>Carrying out
        <strong>code reviews</strong> ensuring code quality</li>
      <li>Conducting technical induction trainings</li>
      <li>Managing cross-functional and cross-location teams</li>
      <li>Integrating with complex backend technologies like Hybris, IBM Websphere </li>
    </ul>
    <br/>
    <h2 class="education">Education</h2>
      <strong>
        I hold a bachelor's degree in computer science and engineering from U.P.T.U.
      </strong>
      <div>(Verified by World Education Services)</div> 
  </div>
</section>