<div class="pimg2">
  <div class="ptext">
    <h2 class="heading">
      Skills
    </h2>
  </div>
</div>
<section class="section section-skills" id="skills">
  <div class="list-group list-group-striped push-top">
    <div class="list-group-item">
      <div class="text-medium">ReactJS</div>
      <div class="progress progress-success">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
          style="width: 80%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">Angular</div>
      <div class="progress progress-success">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
          style="width: 80%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">Handlebars JS</div>
      <div class="progress progress-success">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
          style="width: 98%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">HTML</div>
      <div class="progress progress-info-light">
        <div class="progress-bar progress-bar-info-light" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
          style="width: 98%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">CSS</div>
      <div class="progress progress-info-light">
        <div class="progress-bar progress-bar-info-light" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"
          style="width: 90%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">Less/SASS</div>
      <div class="progress progress-info-light">
        <div class="progress-bar progress-bar-info-light" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
          style="width: 90%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">Responsive Web Design and Bootstrap</div>
      <div class="progress progress-info-light">
        <div class="progress-bar progress-bar-info-light" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
          style="width: 90%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">jQuery</div>
      <div class="progress progress-info-light">
        <div class="progress-bar progress-bar-info-light" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
          style="width: 98%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">Web accessibility</div>
      <div class="progress progress-warning">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
          style="width: 98%;">
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="text-medium">SEO Techniques</div>
      <div class="progress progress-danger">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
          style="width: 98%;">
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <div class="skill skill-hover">
      ReactJS
    </div>
    <div class="skill skill-hover">
      AnularJS
    </div>
    <div class="skill skill-hover">
      ReactJS
    </div>
    <div class="skill skill-hover">
      ReactJS
    </div>
    <div class="skill skill-hover">
      AnularJS
    </div>
    <div class="skill skill-hover">
      ReactJS
    </div>
    <div class="skill skill-hover">
      ReactJS
    </div>
    <div class="skill skill-hover">
      AnularJS
    </div>
    <div class="skill skill-hover">
      ReactJS
    </div>
  </div> -->
  <!-- <div class="col-lg-12">
    <div class="skills-sub-container">
      <div>I have
        <strong>Expertise</strong> in:</div>
      <div>Angular 6</div>
      <div>Handlebars JS</div>
      <div>HTML 5</div>
      <div>CSS 3</div>
      <div>SASS/Less</div>
      <div>Bootstrap</div>
      <div>jQuery</div>
      <div>Angular JS 1.x</div>
      <div>Web accessibility</div>
    </div>
    <div class="skills-sub-container">
      <div>I have
        <strong>Experience</strong> in:</div>
      <div>React JS</div>
      <div>JSP/JSTL</div>
      <div>Node JS</div>
      <div>Webpack</div>
      <div>Yarn</div>
      <div>Grunt</div>
    </div>
    <div class="skills-sub-container">
      <div>I have working
        <strong>Understanding</strong> of:</div>
      <div>Adobe Photoshop</div>
      <div>Sketch</div>
      <div>Zeplin</div>
      <div>Balsamiq</div>
      <div>Jenkins</div>
      <div>HP Agile Manager</div>
      <div>Jira</div>
      <div>Mongo DB</div>
    </div>
  </div> -->
</section>