<nav>
  <ul>
    <li>
      <a href="#home" title="Navigate to Home">
        <i class="material-icons home">home</i>
      </a>
    </li>
    <li>
      <a href="#summary" title="Navigate to Professional Summary">
        <i class="material-icons summary">work</i>
      </a>
    </li>
    <li>
      <a href="#skills" title="Navigate to Skills">
        <i class="material-icons skills">code</i>
      </a>
    </li>
    <li>
      <a href="#contact" title="Navigate to Contact">
        <i class="material-icons contact">mail</i>
      </a>
    </li>
  </ul>
</nav>